{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>new user</title>
</head>
<body>
  {% block body %}

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <h1> New User Form </h1>
              <p>{{message}}</p>
            <form action="/newuser" method="post">
			  <input type="hidden" id="uid" name="uid" value={{userid}}>
              <label for="fullname">Full Name:</label><br>
              <input type="text" id="fullname" name="fullname" value={{fullname}}><br>
              <label for="email">Email:</label><br>
              <input type="text" id="email" name="email" value={{email}}><br>
              <label for="profile_pic">Profile pic:</label><br>
              <input type="text" id="profile_pic" name="profile_pic" value={{profile_pic}}><br>
					<input type="radio" name="usertype" value="Company">
					<label for="Company">Company</label>
					<input type="radio" name="usertype" value="Personal">
					<label for="Personal">Personal</label>
			  <br>
			  <input type="submit" value="Submit">
            </form> 
          </div>
        </div>
      </div>
    </div>
    
  {% endblock %}
</body>
</html>
