{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Profile</title>
</head>
<body>
  {% block body %}
    <div class="container">
      <div class="row">
      	<div class="col-lg-12">
      	  <div class="content">
      	  	<h1>My Profile</h1>
      	    <div>User name: {{current_user_name}}</div>
      	    <div>Email: {{current_user_email}}</div>
      	    <div>
      	  	  <div>Google Profile Picture:</div>
      	      <img alt="Google profile pic" src={{current_user_profile_pic}}>
      	    </div>
      	    <div> User type {{current_user_usertype}}</div>
			<div> <button onclick="location.href='editprofile'" type="button" style="text-align:center">Edit Profile</button></div>
      	  </div>
      	</div>
      </div>
    </div>
  {% endblock %}
</body>
</html>