{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Profile</title>
</head>
<body>
  {% block body %}
    <div class="container">
      <div class="row">
      	<div class="col-lg-12">
      	  <div class="content">
      	  	<h1>My Profile</h1>
      	    <div>User name: {{current_user_name}}</div>
      	    <div>Email: {{current_user_email}}</div>
      	    <div>
      	  	  <div>Google Profile Picture:</div>
      	      <img alt="Google profile pic" src={{current_user_profile_pic}}>
      	    </div>
      	    <div> User type {{current_user_usertype}}</div>
			<div> <button onclick="location.href='editprofile'" type="button" style="text-align:center">Edit Profile</button></div>
            
            <div>Stored chat room messages: </div>
            <div id="chat room messages"></div>
            
            <div>Your watch history: </div>
            <div id="watch history"></div>
            <script type="text/javascript">
              var audience_comment = JSON.parse('{{ audience_comment | safe}}')
              var watch_history = JSON.parse('{{ watch_history | safe}}')
              // Show the stored chat room messages
              
              if (audience_comment != null){
                var text = ""
                for (i = 0; i < audience_comment.length; i++) {
                  text += '<div>' + audience_comment[i] + '</div>';
                } 
                document.getElementById("chat room messages").innerHTML = text;
              }

              if (watch_history != null){
                var text = ""
                for (i = 0; i < watch_history.length; i++) {
                  text += '<div>' + watch_history[i] + '</div>';
                }
                document.getElementById("watch history").innerHTML = text;
              }
            </script>
      	  </div>
      	</div>
      </div>
    </div>
  {% endblock %}
</body>
</html>