<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet">
<video id='hls-example'  class="video-js vjs-default-skin" width="400" height="300" controls>
  <source type="application/x-mpegURL" src={{m3u8_URL}}>
</video>


<h2>Welcome to the live-streaming chatroom</h2>
<div class="chat-output" id="chat-output">
  <div class="bot-message">
  </div>
</div>

<div class="chat-input">
  <form id="message_input_form">
    <input type="text" id="message_input" class="user-input" placeholder="Enter your message here">
    <button type="submit" disabled>Send</button>
  </form>
</div>


<script>
  var player = videojs('hls-example');
  player.play();
</script>


<script>
  const socket = io.connect('https://' + document.domain + ':' + location.port, {secure: true});

  socket.on('connect', function () {
	socket.emit('join_room', {
	  username: "{{ current_user_name }}",
	  room: "{{ room_name }}"
	});

	let message_input = document.getElementById('message_input');

	document.getElementById('message_input_form').onsubmit = function (e) {
	  e.preventDefault();
	  let message = message_input.value.trim();
	  if (message.length) {
	    socket.emit('send_message', {
	      username: "{{ current_user_name }}",
	      room: "{{ room_name }}",
	      message: message
	    })
	  }
	  message_input.value = '';
	  message_input.focus();
	}
  });

  var outputArea = $("#chat-output");

  socket.on('receive_message', function (data) {
	console.log(data);
	  
	outputArea.append(`
	  <div class='bot-message'>
	    <div class='message'>
	      ${data.username}: ${data.message}
	    </div>
	  </div>
	`);
  });

  socket.on('join_room_announcement', function (data) {
	console.log(data);
	if (data.username !== "{{ current_user_name }}") {
	  const newNode = document.createElement('div');
	  newNode.innerHTML = `<b>${data.username} has joined the room</b>`;
	  document.getElementById('chat-output').appendChild(newNode);
	}
  });

  socket.on('leave_room_announcement', function (data) {
    console.log(data);
    const newNode = document.createElement('div');
    newNode.innerHTML = `<b>${data.username} has left the room</b>`;
    document.getElementById('chat-output').appendChild(newNode);
  });
</script>
