{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>stream</title>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <script src="https://github.com/videojs/videojs-contrib-media-sources/releases/download/v0.1.0/videojs-media-sources.js"></script>
  <script src="https://github.com/videojs/videojs-contrib-hls/releases/download/v0.11.2/videojs.hls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
</head>
<body>
  {% block content %}	
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
	          <form action="/stream" method="post">
	      	    <label for="stream_category">Choose a category that best describes your live-streaming for this time</label>
                <select name="stream_category" id="stream_category">
 			            <option value="sports">sports</option>
			            <option value="travel & events">travel & events</option>
			            <option value="gaming">gaming</option>
			            <option value="people & blogs">people & blogs</option>
			            <option value="entertainment">entertainment</option>
			            <option value="news & politics">news & politics</option>
			            <option value="education">education</option>
			            <option value="science & technology">science & technology</option>
		            </select>
		          <input type="submit" value="Build pipeline">
	          </form>
	        
	          <div>After you request to build a pipeline, the construction will cost roughly 5 minutes. In the meanwhile, you can read the instruction of the usage and the installation of <a href="https://obsproject.com/">OBS</a> at the bottom of this <a href="https://aws.amazon.com/tw/blogs/media/part1-how-to-send-live-video-to-aws-elemental-mediastore/">website</a></div>

	          <div></div>

	          <div id="place_for_AWS_pipeline"></div>
	          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	          <script>
	            var keep_asking = window.setInterval(ask_AWS, 5000);
			        function ask_AWS() {
 			          $.ajax({
                  url: "/stream/describe_stack",
                  type: "get",
                  data: {},
                  success: function(response) {
                  $("#place_for_AWS_pipeline").html(response);
                  },
                  error: function(xhr) {
                  //Do Something to handle error
                  }
                });
			        }
	          </script>

	          <button id="show_video_player" value="Start Streaming" onclick=show_video_player()>Start Streaming</button>
	          <div>You must first have your own streaming pipeline ready, and start streaming using OBS, then you can click on this bottom to see your live-streaming on the website</div>

	          <div id="place_for_video_player"></div>

	          <script>
	            function show_video_player(){
		            $.ajax({
      			      url: "/stream/show_video_player",
      			      type: "get",
      			      data: {},
      			      success: function(response) {
        		        $("#place_for_video_player").html(response);
      			      },
      		 	      error: function(xhr) {
        		        //Do Something to handle error
      			      }
    		        });
		          };
			      </script>
            <script src="https://vjs.zencdn.net/7.10.2/video.js"></script>


            <form action="/stream" method="post">
              <input type="submit" value="Delete pipeline">
            </form>
          </div>
        </div>
      </div>
    </div>
    
  {% endblock %}
</body>
</html>
